{% extends '/base.html.twig' %}

{% block title %}{{ parent () }} | Accueil{% endblock %}

{% block body %}
    <div>
        {{ form_start(mainForm) }}

        {{ form_widget(mainForm) }}
        <button>Create !</button>
        {{ form_end(mainForm) }}
    </div>
{% endblock %}
