<form method="post" action="{{ path('ville_delete', {'id': ville.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette ville');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.id) }}">
    <button class="btn">Suppression</button>
</form>
