<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortie.com{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Font du site #}
        {# font du logo #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            {% include ("inc/nav.html.twig") %}
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <div>&copy; {{"now"|date("Y")}} <em class="logo">sortir.com</em> by Ugo, Patrick, Pierre</div>
        </footer>
    </body>
